.work_block{
	width: 300px;
	height: 230px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
	cursor: pointer;
	float: left;
	background-color: #46b6ac;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.work_block_closed{
	background-color: rgba(204,204,204, 0.9);
}

.work_title{
	color: rgba(0,0,0,.54);
	background-color: #eee;
	padding-bottom: 5px;
	padding-top: 5px;
	color: rgba(0,0,0,.54);
	padding-left: 10px;
	font-size: 20px;
	line-height: 23px;
}

.work_teacher{
	color: rgba(255,255,255,0.85);
	padding-bottom: 10px;
	padding-top: 0px;
	padding-left: 10px;
	font-size: 20px;
}

.work_block:hover{
	background-color: rgba(70,182,172, 0.85);
}

.work_block:hover .work_title{
	color: rgba(0,0,0,.4);
}

.work_block_closed:hover{
	background-color: rgba(204,204,204, 0.5);
}
.work_block_closed .work_teacher{
	color: rgba(0,0,0,.4);
}

.work_teacher_title{
	font-weight: bold;
}

.work_title_title{
	font-weight: bold;
}

#button_create_nir{
	background-color: #46b6ac;
	height: 30px;
	width: 140px;
	border-radius: 3px;
	text-align: center;
	padding-top: 7px;
	color: rgba(255,255,255,0.85);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	font-size: 17px;
	margin: auto;
}

#button_create_nir:hover{
	background-color: rgba(70,182,172, 0.85);
}

h1{
	text-align: center;
	color: rgba(0,0,0,.54) !important;
	margin-bottom: 20px !important;
	font-weight: bold !important;
}

body{
	height: auto !important;
}

.single_work_title{
	font-size:30px;
	color: rgba(0,0,0,.54);
	text-align: center;
	line-height: 34px;
}
.single_work_title_title, .single_work_teacher_title{
	font-weight: bold;
}

.single_work_teacher{
	font-size:25px;
	color: rgba(0,0,0,.54);
	text-align: center;
	line-height: 34px;
}

.tab-content{
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	background-color: rgba(238,238,238, 0.5);
}

.tab-links a{
	background-color: rgba(70,182,172, 0.35);
	color: rgba(0,0,0,.54) !important;
}

.tab-links a:hover{
	background-color: rgba(70,182,172, 0.85);
}

li.active a, li.active a:hover{
	background-color: rgba(70,182,172, 0.85) !important;
}


#icon_cloud{
	width: 65px !important;
	padding-top: 3px !important;
}

#dragdrop_title{
	padding-top: 10px;
}

.jFiler-input-dragDrop{
	width: 600px !important;
}

.block_file_prev{
	background-color: white;
	width: 210px;
	height: 250px;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,.2);
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
	float: left;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.block_file_prev:hover{
	background-color: rgba(0,0,0, 0.1);
	color: #2C3E50;
}

.block_file_prev_kaf{
	background-color: white;
	width: 210px;
	height: 250px;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0,.2);
	margin-bottom: 15px;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.block_file_prev_kaf:hover{
	background-color: rgba(0,0,0, 0.1);
	color: #2C3E50;
}

.a_file_block:focus{
	color: #2C3E50 !important;
}

.a_file_block:hover{
	color: #2C3E50 !important;
}

.a_file_block_kaf{
	width: 210px;
	display: block;
	margin: auto;
}

.work_not_load{
	font-size: 20px;
	text-align: center;
}

.sign_kaf_button_not_active, .cancel_kaf_button_not_active, .sign_teacher_button_not_active{
	background-color: rgba(0, 0, 0, 0.1) !important;
	cursor: default !important;
}

.sign_kaf_button{
	width: 150px;
	background-color: rgba(70,182,172, 0.35);
	padding: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 19px;
	float: left;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.cancel_kaf_button{
	width: 150px;
	background-color: rgba(70,182,172, 0.35);
	padding: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 19px;
	float: right;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.cancel_kaf_button:hover, .sign_kaf_button:hover, .sign_button_teacher:hover, .cancel_button_teacher:hover, .finish_work_button:hover{
	background-color: rgba(70,182,172, 0.85);
}

.block_files_sign_kaf{
	width: 400px;
	height: 45px;
	margin:auto;
}

.block_files_sign_teacher{
	width: 200px;
}

.sign_button_teacher{
	width: 150px;
	background-color: rgba(70,182,172, 0.35);
	padding: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 19px;
	margin-left: 20px;
	margin-top: 5px;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.finish_work_button{
	width: 200px;
	background-color: rgba(70,182,172, 0.35);
	padding: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 19px;
	margin: auto;
	margin-top: 20px;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.cancel_button_teacher{
	width: 150px;
	background-color: rgba(70,182,172, 0.35);
	padding: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 19px;
	margin-left: 20px;
	margin-top: 5px;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.img_files_prev{
	margin-top: 22px;
	margin-left: 46px;
}

.block_files{
	margin-bottom: 30px;
	padding-left: 40px;
}

.block_files_kaf{
	margin-bottom: 30px;
}

.file_name{
	text-align: center;
	padding-top: 10px;
	font-weight: bold !important;
	margin-bottom: 0px !important;
}

.file_date{
	text-align: center;
	margin-bottom: 0px !important;
}

.messages{
	height: auto;
	border: 1px rgba(0,0,0,.2) solid;
	background-color: white;
	margin: auto;
	width: 600px;
	margin-top: 15px;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.message{
	border-bottom: 1px rgba(0,0,0,.2) solid;
	height: auto;
}

.header_message{
	border-bottom: 1px rgba(0,0,0,.2) solid;
	color: rgba(0,0,0,.54) !important;
	font-weight: bold !important;
	background-color: rgba(0, 0, 0, 0.1);
}

.header_message_kaf{
	background-color: rgba(255, 187, 63, 0.5);
}

.header_message_name{
	width: 280px;
	float: left;
	padding-left: 15px;
	padding-top: 5px;
}

.header_message_date{
	width: 280px;
	float: right;
	text-align: right;
	padding-right: 15px;
	padding-top: 5px;
}

.message_text{
	padding-left: 15px;
	padding-right: 15px;
}

.send_block_message{
	margin-bottom: 0px !important;
	width:533px;
}

.send_message_button{
	width: 68px;
	height:70px;
	margin-top: -70px;
	margin-left: 532px;
	background-color: rgba(70,182,172, 0.35) !important;
	color: rgba(70,182,172, 0.35) !important;
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}

.send_message_button:hover{
	background-color: rgba(70,182,172, 0.85) !important;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.send_icon{
	margin-top: 0px;
	margin-left: -5px;
}

.img_new{
	margin-top: -208px;
	margin-left: 159px;
}

.new_file_message{
	padding-left: 10px;
	background-color: rgba(255, 255, 255, 0.3);
	padding-bottom: 5px;
	padding-top: 5px;
	color: rgba(255,255,255,0.85);
}

#ul_file_block{
	margin: auto;
	width: 215px;
}

.users_list_el{
	text-align: right;
	padding: 18px;
	font-size: 25px;
	margin-bottom: 5px;
	background-color: #46b6ac;
	color: rgba(255,255,255,0.85);
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.users_list_el:hover{
	background-color: rgba(70,182,172, 0.85);
	color: rgba(255,255,255,0.85);
}

#review_block{
	height: 230px;
	border: 1px rgba(0,0,0,.2) solid;
	background-color: white;
	margin: auto;
	width: 600px;
	display: none;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

#review_block_header{
	height: 43px;
	border: 1px rgba(0,0,0,.2) solid;
	background-color: white;
	margin: auto;
	width: 600px;
	background-color: rgba(70,182,172, 0.35);
	cursor: pointer;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.review_title{
	font-size: 19px;
	padding: 8px;
	text-align: center;
	padding-bottom: 0px;
}

.mark_title{
	font-size: 19px;
	padding: 8px;
	margin-left: 88px;
	margin-right: 10px;
}

#review_area{
	margin-left: 50px;
	width: 500px;
}

#mark_input{
	font-size: 19px;
}

#send_review{
	width: 200px;
	background-color: rgba(70,182,172, 0.35);
	padding: 10px;
	text-align: center;
	cursor: pointer;
	font-size: 19px;
	margin-left: 200px;
}

#send_review:hover{
	background-color: rgba(70,182,172, 0.85);
}

.review_header_title{
	font-size: 21px;
	text-align: center;
	padding-top: 12px;
}

#review_block_header:hover{
	background-color: rgba(70,182,172, 0.85);
}

.ex_review_title{
	font-size: 19px;
	padding: 8px;
	text-align: center;
	padding-bottom: 0px;
}

.ex_review_text{
	padding-left: 16px;
	padding-right: 16px;
}

.ex_mark{
	font-size: 19px;
	text-align: center;
}

.ex_mark span{
	font-weight: bold;
	font-size: 25px;
}

.sign_files_kaf_icon{
	margin-top: -25px;
	text-align: right;
}