#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family:sans-serif,arial;
    font-size: 14px;
    position: relative;
}
#cssmenu a {
    line-height: 1.3;
}
#cssmenu {
    width: auto;
}
#cssmenu > ul > li > a {
    padding-right: 40px;
    font-size: 25px;
    font-weight: bold;
    display: block;
    background: rgba(70,182,172, 0.65);
    color: #ffffff;
    border-bottom: 2px solid rgba(255,255,255, 0.85);
    text-transform: uppercase;
}

.list_for_switch_not_active > ul > li > a {
    background-color: rgba(204,204,204, 0.9) !important;
}

#cssmenu > ul > li > a > span {
    background-color: #46b6ac;
    color: rgba(255,255,255,0.85) !important;
    padding: 10px;
    display: block;
    font-size: 21px;
    font-weight: 300;
}

#cssmenu > ul > li > a:hover {
    text-decoration: none;
}
#cssmenu > ul > li.act {
    border-bottom: none;
}
#cssmenu > ul > li.act > a {
    color: #fff !important;
}
#cssmenu > ul > li.act > a span {
    /*background-color: rgba(70,182,172, 0.85);
    color: rgba(255,255,255,0.85) !important;*/
}
#cssmenu span.cnt {
    position: absolute;
    top: 8px;
    right: 9px;
    padding: 0;
    margin: 0;
    background: none;
}

/* Sub menu */
#cssmenu ul ul {
    display: none;
}
#cssmenu ul ul li {
    border: 1px solid #e0e0e0;
    border-top: 0;
}
#cssmenu ul ul a {
    padding: 10px;
    display: block;
    font-size: 16px;
}
#cssmenu ul ul a:hover {
    color: rgba(0,0,0,.54);
}
#cssmenu ul ul li.odd {
    background: #f4f4f4;
}
#cssmenu ul ul li.even {
    background: #fff;
}