.form_work_plan{
    margin: auto;
}

.block_work_plan{
    margin-bottom: 30px;
}

.man_block{
    width: 395px;
    float:left;
}

.form_work_plan .header_block{
    text-align: center;
}

.label_block{
    width: 175px;
    float:left;
    font-size:17px;
    margin-left:20px;
    margin-top:5px;
}

.input_block{
    width: 200px;
    float:right
}

.work_info_block{
    width: 600px;
    margin: auto;
}

.textarea_block{
    width: 385px;
    float:right;
    resize: none;
}

#button_add_consultant{
    width: 219px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
    padding: 10px;
    background-color: rgba(70,182,172, 0.35);
    cursor: pointer;
    font-size: 19px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

#button_add_consultant:hover{
    background-color: rgba(70,182,172, 0.85);;
}