.form_work_plan{
    margin: auto;
}

.block_work_plan{
    margin-bottom: 30px;
}

.man_block{
    width: 395px;
    float:left;
}

.form_work_plan .header_block{
    text-align: center;
}

.label_block{
    width: 175px;
    float:left;
    font-size:17px;
    margin-left:20px;
    margin-top:5px;
}

.input_block{
    width: 200px;
    float:right;
}

.work_info_block{
    width: 700px;
    margin: auto;
}

.textarea_block{
    width: 350px;
    float:right;
    resize: none;
    margin-right: 74px;
}

#button_add_consultant{
    width: 219px;
    margin: auto;
    text-align: center;
    margin-top: 195px;
    padding: 10px;
    background-color: rgba(70,182,172, 0.35);
    cursor: pointer;
    font-size: 19px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

#button_add_consultant:hover{
    background-color: rgba(70,182,172, 0.85);
}

.select_block{
    width: 200px;
    float:right;
}

.label_select{
    padding-top: 7px;
}

.title_many_textarea{
    font-size: 12px;
    color: grey;
}

.plus_input, .minus_input{
    width: 26px;
    height: 26px;
    margin-top: 13px;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(70,182,172, 0.35);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.plus_input:hover, .minus_input:hover{
    background-color: rgba(70,182,172, 0.85);
}

.textarea_many_block{
    width: 350px;
    float:left;
    resize: none;
}

.textarea_many_div_block{
    width: 444px;
    float:right;
}

.plus_input_block{
    width: 30px;
    float:left;
    padding-left: 8px;
}

.minus_input_block{
    width: 30px;
    float:left;
    padding-left: 4px;
}

.number_point{
    width: 20px;
    float: left;
    padding-top: 5px;
    font-size: 17px;
    color: grey;
}

.separate_line{
    margin-left: 33px;
    margin-top: 0px;
    width: 579px;
    margin-bottom: 11px;
    border: 0;
    border-top: 1px dashed #AAA;
}

.work_plan_edit_button{
    display: block !important;
    margin: auto !important;
    color: #333 !important;
    font-size: 17px !important;
    background-color: rgba(70,182,172, 0.35) !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12) !important;
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12) !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.work_plan_edit_button:hover{
    background-color: rgba(70,182,172, 0.85) !important;
}

.work_plan_edit_button_not_active{
    background-color: rgba(0, 0, 0, 0.1) !important;
    cursor: default !important;
    display: block !important;
    margin: auto !important;
    color: #333 !important;
    font-size: 17px !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12) !important;
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12) !important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

#cancel_edit_work_plan, #send_work_plan_kaf, #submit_edit_work_plan[action_type='send_to_user'], #cancel_work_plan_kaf{
    margin-top: 20px !important;
}

#submit_edit_work_plan[action_type='send_to_user'], #submit_edit_work_plan[action_type='send_to_kaf'] {
    width: 345px;
}

#cancel_work_plan_kaf, #approve_work_plan_kaf
{
    width: 160px !important;
}

.input_block_view{
    width: 193px;
    overflow: auto;
    padding-top: 6px;
    background-color: rgba(196,196,196, 0.2);
    padding-left: 5px;
    border: 1px solid rgba(0,0,0,.2);
}

.textarea_block_view{
    width: 450px;
    overflow: auto;
    padding-top: 6px;
    background-color: rgba(196,196,196, 0.2);
    padding-left: 5px;
    float: right;
    border: 1px solid rgba(0,0,0,.2);
}

.separate_line_view{
    margin: auto;
    margin-bottom: 11px;
    margin-top: 0px;
}

.message_container{
    height: 85px;
    margin: 10px;
    background-color: white;
    border: 1px solid lightgray;
    background-color: rgba(255, 210, 115, 0.1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.message_icon{
    display: block;
    height: 42px;
    float: left;
    margin-left: 30px;
    margin-top: 23px;
}

.message_container .message_text{
    float: left;
    width: 80%;
    font-size: 19px;
    height: 85px;
    line-height: 85px;
}